<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="../style.css" />
        <title>Todo - rozwiązanie</title>
    </head>
    <body>
        <div id="todoApp">
            <ol class="todos">
                <todo-item
                    v-for="(todo, index) in todos"
                    :todo="todo"
                    :index="index"
                    :delete="deleteTodo"
                    :key="todo.id"
                >
                </todo-item>
            </ol>
            <input @keyup.enter="addTodo" v-model="newText" />
            <button v-on:click="addTodo">Dodaj</button>
        </div>

        <script>
            const Main = {
                data() {
                    return { todos: [], newText: "", nextId: 0 };
                },
                methods: {
                    addTodo() {
                        this.todos.push({
                            id: this.nextId++,
                            text: this.newText,
                        });
                    },
                    deleteTodo(index) {
                        this.todos.splice(index, 1);
                    },
                },
            };
            const app = Vue.createApp(Main);
            const ToDo = {
                props: ["todo", "delete", "index"],
                methods: {
                    deleteTodo() {
                        this.delete(this.index);
                    },
                },
                template: `<li>{{ todo.text }} 
                <button v-on:click="deleteTodo">
                    Usuń
                  </button>
              </li>`,
            };
            app.component("todo-item", ToDo);
            app.mount("#todoApp");
        </script>
    </body>
</html>
